        <footer>
            <div class="footer-main footer-items">
                <div class="footer-details">
                    <h3>Address</h3>
                </div>
                <div class="footer-details">
                    <h3>Contact</h3>
                </div>
            </div>
            <div class="copyright footer-items">
                <h5 class="cp-text">Copyright &copy; <%= date.getFullYear() %> </h5>
            </div>
        </footer>
    </body>
</html>