<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Age Error</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Hello User</h1>
    <h3>Your age is <%= age %>, You cannot access the page</h3>
    <h5>Only with age 12 or above can access the pages</h5>
</body>
</html>